.click {
  text-align: center;
  /* margin-top: 32px; */
  height: 40px;
}

.click a, button {
  text-decoration: none;
  background: #FFFF99;
  color: #333333;

  padding: 10px 30px;
  font-size: 18px;
  font-family: 'Roboto', 'lato', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 30px;

  transition: background-color 0.3s; /* 平滑过渡效果 */
}

.click a:hover, .click button:hover {
  background-color: #D1E231;
}
